body {
    font-family: Arial, sans-serif;
    background-color: #ff5c5c;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#video-call-form {
    background-color: #ff5c5c;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    transform: translateY(-50%);
    text-align: center;
}

#username {
    width: 90%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    transition: border-color 0.3s ease;
}

#username:focus {
    outline: none;
    border-color: #3498db;
}

button[type="submit"] {
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #ffffff;
    color: #000000;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color: #777;
    margin-bottom: 0;
}
